#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a unifi-network instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman unifi-network.service
Requires=mongo-app.service unifi-network-app.service
Before=mongo-app.service unifi-network-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/unifi-network.pid %t/unifi-network.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/unifi-network.pid \
    --pod-id-file %t/unifi-network.pod-id \
    --name unifi-network \
    --publish 127.0.0.1:${TCP_PORT}:8443 \
    --publish 3478:3478/udp \
    --publish 10001:10001/udp \
    --publish ${PORT}:{$PORT} \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/unifi-network.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/unifi-network.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/unifi-network.pod-id
PIDFile=%t/unifi-network.pid
Type=forking

[Install]
WantedBy=default.target
