#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  unifi-network-app.service
BindsTo=unifi-network.service
After=unifi-network.service mongo-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/unifi-network-app.pid %t/unifi-network-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/unifi-network-app.pid \
    --cidfile %t/unifi-network-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/unifi-network.pod-id --replace -d --name  unifi-network-app \
    --volume unifi-network-app:/config:z \
    --env PUID=0 \
    --env PGID=0 \
    --env TZ=Etc/UTC \
    --env MONGO_USER=unifi \
    --env MONGO_PASS=unifi \
    --env MONGO_HOST=mongo-app \
    --env MONGO_PORT=27017 \
    --env MONGO_DBNAME=unifi \
    --env MONGO_AUTHSOURCE=admin \
    ${UNIFI_NETWORK_APPLICATION_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/unifi-network-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP unifi-network-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/unifi-network-app.ctr-id
PIDFile=%t/unifi-network-app.pid
Type=forking

[Install]
WantedBy=default.target
